# Files
.
*.zip
*.log
*.pdf
*.xls
.ftpquota
.htaccess
.DS_Store
Thumbs.db
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-signup.php
wp-trackback.php
wp-config.php
_wp-config.php
xmlrpc.php
readme.html
manifest.json
wordfence-waf.php
license.txt
index.php
autoptimize_404_handler.php

# Folder
/.well-known
node_modules/
/node_modules/
/node_modules/*
/html/
/bower_components/
/wp-admin/
/wp-includes/
/wp-snapshot/
/wp-snapshots/
/wp-content/wp-recall/
/wp-content/cache/
/wp-content/gallery/
/wp-content/languages/
/wp-content/ngg/
/wp-content/fonts/
/wp-content/updraft/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/wflogs/
/wp-content/ai1wm-backups/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentytwentyone/
/_source/scss/ .sass-cache/
/_source/scss/.sass-cache/
node_modules/
